<html>
    <head>
        <title>V2</title>
        <link href="/css/index.css" rel="stylesheet" />
    </head>
    <body>
    
    @await Html.PartialAsync("Header")

        <div>
            @RenderBody()
        </div>

        @await Html.PartialAsync("Footer")
    </body>
</html>


