<html>
    <head>
        <title>V2</title>
        <link href="/css/index.css" rel="stylesheet" />
    </head>
    <body>
        <div>
            <h1>
                header
            </h1>
            </div>

        <div>
            @RenderBody()
        </div>

        <div>
            <h1>
                footer
        </h1>
    </div>
    </body>
</html>


